/* button{
    display: block;
    margin: 20px auto;
    padding: 6px 10px;
    color: white;
    background-color: crimson;
    border: 0;

}

.popup-wrapper{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

}

.popup{
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: white;
    position: relative;

}

.popup a{
    background-color: crimson;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
}

.popup-close{
    position: absolute;
    top: 10px;
    right:8px;
    cursor: auto;
}

 */
body{
    background-color: #eee;
}

form{
    max-width: 400px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
}

input{
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.success{
    border: 2px solid limegreen;
}

.error{
    border: 2px solid red;
}